.bubble-chat__container
  display: flex
  justify-items: flex-start
  align-items: center
  width: fit-content
  height: fit-content
  margin: .2rem
  min-height: 1.5rem
  min-width: 20%
  background: #d1d1d1
  border-radius: 20px
  border-bottom-right-radius: 1px
.bubble-chat__text
  padding: .3rem
  margin: .5rem
  font-size: 1rem
  font-weight: 300
  text-align: justify
.bubble-response__container
  display: flex
  justify-items: flex-start
  align-items: center
  height: fit-content
  margin: .2rem
  min-height: 1rem
  width: fit-content
  max-width: 100%
  background: #fcfcfc
  border-radius: 20px
  border: 1px solid #9c9c9c
  border-bottom-left-radius: 1px
  overflow: hidden
.bubble-chat__mark
  width: 100%
  height: fit-content
  text-align: justify
  font-size: 1rem
  font-weight: 400
  padding: .3rem
  p
    margin: 0
@media screen and (min-width: 1000px)
  .bubble-chat__container
    width: fit-content
    height: fit-content
    margin: .2rem
    min-height: 1rem
    min-width: 10%
  .bubble-response__container
    height: fit-content
    margin: .2rem
    min-height: 1rem
    min-width: 10%
    width: fit-content
    max-width: 100%
  .bubble-chat__mark
    width: 100%
    height: fit-content
    text-align: justify
    font-size: 1rem
    font-weight: 300
    padding: .2rem
    p
      margin: 0
    h1, h2
      font-size: 1.5rem
      font-weight: 400