.header__container
  display: flex
  flex-direction: column
  gap: .5rem
.section--header__container
  display: flex
  width: inherit
  header: fit-content
  flex-direction: column
  justify-content: center
  gap: .3rem
