.home__container
  display: flex
  width: 95%
  flex-direction: column
  align-items: space-between
  gap: 1rem
.header_section
  display: flex
  flex-direction: column
  margin-top: 20%
  gap: 1rem
.chat__container
  display: flex
  flex-direction: column
  justify-content: flex-end
  align-items: flex-end
  height: 90%
  overflow: auto
.footer__input--container
  display: flex
  position: fixed
  right: .5rem
  bottom: 1rem
  flex-direction: column
  justify-content: center
  align-content: center
  width: 95%
  height: 3rem

