.home__container
  display: flex
  flex-direction: column
  width: 95%
  gap: 1rem
.header_section
  display: flex
  flex-direction: column
  margin-top: 15%
  gap: 1rem
.voxel__container
  width: 100%
  height: 40%

.chat__container
  height: 77vh
  overflow: hidden auto
.chat__container::-webkit-scrollbar
  width: 0.5rem

.chat__container::-webkit-scrollbar-thumb
  background-color: rgb(190, 164, 214)
  outline: none

.chat__container
  scroll-behavior: smooth
  overflow-x: hidden

.chat_items
  display: flex
  flex-direction: column
  justify-content: flex-end
  height: 100%
.chat__bubble
  display: flex
  flex-direction: column
  align-items: flex-end
  width: 100%
.chat__bubble__response
  display: flex
  flex-direction: column
  justify-content: flex-start
  width: 98%
.footer__input--container
  display: flex
  position: fixed
  bottom: 1rem
  flex-direction: column
  justify-content: center
  align-content: center
  width: 95%
  height: 3rem
.button_modes_container
  position: fixed
  display: flex
  justify-content: center
  bottom: 4.5rem
  height: fit-content
  gap: 1rem
  width: 95%
// MEDIA QUERYS
@media screen and (min-width: 1000px)
  .home__container
    display: flex
    flex-direction: column
    width: 80%
    gap: 1rem
  .header_section
    display: flex
    flex-direction: column
    margin-top: 5%
    gap: 1rem
  .footer__input--container
    width: 80%
    height: 3rem
  .button_modes_container
    width: 80%
