.home__container
  display: flex
  width: 95%
  flex-direction: column
  align-items: space-between
  gap: 1rem
.chat__container
  display: flex
  flex-direction: column
  justify-content: center
  height: 70%
.footer__input--container
  display: flex
  flex-direction: column
  justify-content: center
  align-content: center
  width: 95%
  height: 3rem

